﻿@model AskMePortal.Models.Account.LoginVM
@{Layout = "_EmptyLayout";}
@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="login-wrapper">
            <div id="logo-container">
            </div>
            <div class="col-sm-12 col-md-10 m-auto">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="login-form">
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Username" aria-label="Username">
                    </div>
                    <div class="error">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock-alt"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password">
                    </div>
                    <div class="error">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    @Html.ValidationMessage("LoginError", new { @class = "text-danger" })
                    <div class="form-group">
                        <button type="submit" class="btn btn-def btn-block login-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>