﻿@{
    ViewData["Title"] = "Error";
    Layout = "_EmptyLayout";
}
<link href="~/css/errorCodePages.css" rel="stylesheet" />
<div class="message">
    <h1>500</h1>
    <h2>Oops!</h2>
    <h3>An error occurred while processing your request...</h3>
</div>
