﻿@{
    ViewData["Title"] = "Not Found";
    Layout = "_EmptyLayout";
}

<link href="~/css/errorCodePages.css" rel="stylesheet" />
<div class="message">
    <h1>404</h1>
    <h2>Oops!</h2>
    <h3>Page not found...</h3>
</div>