﻿body {
    background-color: #272626;
}

.message {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 450px;
    height: 350px;
    background-color: #2a2929;
    border-radius: 3px;
    text-align: center;
    padding: 45px 20px;
    color: #ffffff;
    font-weight: 800;
}

h1 {
    color: #a30d0d;
    font-size: 100px;
}
