﻿body {
    background: #fefefe;
    color: white;
    font-family: Ubuntu-Bold;
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../lib/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../lib/ubuntu/Ubuntu-Bold.ttf');
}

.login-wrapper {
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    position: absolute;
    top: -50px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    min-width: 350px;
    max-width: 600px;
    padding: 40px;
    min-height:400px;
}

#logo-container {
    margin: auto;
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
    color: #403866;
    text-align: center;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: 300px;
    background-image: url(../img/AskMePortalLogo.png);
}

.login-btn {
    background-color: #827ffe;
    text-transform: uppercase;
    height: 62px;
    color: white;
    margin-top: 20px;
}

    .login-btn:hover {
        background-color: #403866;
    }

#login-form input {
    font-size: 1.1rem !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b4b1b1 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #b4b1b1 !important;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #b4b1b1 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #b4b1b1 !important;
}

.error{
    margin-top:-5px;
}