﻿.content-wrapper {
    background-color: #fff !important;
}
/*LTE Admin theme fixes*/
@font-face {
    font-family: Ubuntu-Regular;
    src: url('../lib/fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../lib/ubuntu/Ubuntu-Bold.ttf');
}

.main-header .logo {
    height: 70px !important;
    line-height: 70px !important;
}

.main-sidebar, .left-side {
    padding-top: 70px;
}

.user-panel {
    height: 65px;
}

/*jQuery validate error labels*/
.error {
    color: red;
}

.form-control.error {
    border-color: #f50000;
}

/*jQueryUI modeal overlay*/
.ui-widget-overlay {
    opacity: 0.55 !important;
}

.ui-dialog-titlebar-close {
    padding: 0 !important;
}

    .ui-dialog-titlebar-close:after {
        content: '';
        width: 19px;
        height: 20px;
        display: inline-block;
        /* Change path to image*/
        background-image: url('../lib/jqueryui/images/ui-icons_777777_256x240.png');
        background-position: -96px -128px;
        background-repeat: no-repeat;
    }

.page-card-wrapper {
    width: 800px;
    background: #fff;
    padding: 20px;
}

    .page-card-wrapper label {
        opacity: 0.75;
        font-family: Ubuntu-Bold;
    }

        .page-card-wrapper label.error {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
        }

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
    font-weight: bold;
}

    .btn-primary:hover {
        background-color: #0069d9 !important;
        border-color: #0062cc !important;
    }

.logo {
    font-family: Ubuntu-Bold !important;
}

/*** custom checkboxes ***/
input[type=checkbox] {
    visibility: hidden;
}

    input[type=checkbox]::before {
        visibility: visible;
        font-size: 30px;
        display: inline-block;
        content: "\f096";
        font-family: 'FontAwesome';
        color: #0069d9;
    }

    input[type=checkbox]:checked::before {
        content: "\f046";
        font-family: 'FontAwesome';
    }

    input[type=checkbox]:hover {
        cursor: pointer;
    }

.checkbox-wrapper {
    margin-top: -15px;
    margin-bottom: 25px;
}

.survey-title-box {
    text-transform: uppercase;
    font-family: Ubuntu-Bold;
    font-size: 30px;
    text-align: center;
}

.time-info {
    margin-top: -20px;
    margin-bottom: 30px;
    opacity: 0.75;
}

.text-danger {
    font-size: 13px;
    font-weight: bold;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b4b1b1 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #b4b1b1 !important;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #b4b1b1 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #b4b1b1 !important;
}

.user-panel > .image > img {
    width: 40px !important;
    height: 45px;
}

.page-wrapper-title {
    background-color: #f3f3f3;
    opacity: 0.75;
    font-weight: 500;
}

    .page-wrapper-title hr {
        margin-top: 0.5rem !important;
    }

#assignTable input[type=checkbox]::before {
    margin-top: -13px!important;
}
