﻿@model AskMePortal.Models.AssignToUsers.AssignToUserVM

@{
    ViewData["Title"] = "Assign to users";
}
<div class="page-wrapper-title">
    Assign surveys to users
    <hr />
</div>
<div class="page-card-wrapper">
    <form asp-action="Assign">
        <table class="table" id="assignTable">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="checkAll" class="mb-3" />
                    </th>
                    <th>
                        <label>FirstName</label>
                    </th>
                    <th>
                        <label>LastName</label>
                    <th>
                        <label>JobTitle</label>
                    </th>
                    <th>
                        <label>Already assigned</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.AssignUsersVM.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(modelItem => Model.AssignUsersVM[i].IsSelected)
                            @Html.HiddenFor(modelItem => Model.AssignUsersVM[i].Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.AssignUsersVM[i].FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.AssignUsersVM[i].LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.AssignUsersVM[i].JobTitle)
                        </td>
                        <td width="400px">
                            @{

                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">
                                    Assigned surveys
                                </button>

                                <div class="collapse" id="collapse@(i)">
                                    <div class="card card-body">
                                        @{
                                            foreach (var item in Model.AssignUsersVM[i].AlreadyAssignedSurveys)
                                            {
                                                <p>@item</p>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.DropDownList("SurveyId", Model.SurveysToAssign,
                            "Select Survey",
                            new { @class = "form-control" })
        <button class="btn btn-primary">Assign</button>
    </form>
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#checkAll").click(function () {
                $('#assignTable input:checkbox').not(this).prop('checked', this.checked);
            });
        });
    </script>
}
