﻿@model AskMePortal.Models.NewSurvey.NewSurveyVM
@{
    ViewData["Title"] = "New Survey";
}

<environment include="Development">
    <link href="~/css/newSurvey.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/css/newSurvey.min.css" rel="stylesheet" />
</environment>

<div class="page-wrapper-title">
    Create new survey
    <hr />
</div>
<div class="page-card-wrapper">
    <form asp-action="Add" asp-controller="NewSurvey" id="newSurvey">
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <label>Survey name:</label><input type="text" name="newSurveyVM.surveyName" class="form-control" required />
                </div>
                <label>Questions:</label>
                <table id="newSurveyTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Question Value</th>
                            <th>Question Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-sm btn-primary add-new">Add question</button>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button id="AddSurvey" class="btn btn-primary pull-right" disabled>Submit     <i class="fa fa-list-alt"></i></button>
                </div>

            </div>
        </div>
    </form>
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/newSurvey.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/newSurvey.min.js"></script>
    </environment>
}
