﻿@model AskMePortal.Models.Account.AddUsersVM
@{
    ViewData["Title"] = "Add Users";
}
<div class="page-wrapper-title">
    Create a new account
    <hr />
</div>
<div class="page-card-wrapper">
    <form asp-controller="AddUsers" asp-action="AddUsers" method="post" id="addUsers">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>First name:</label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="John">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Last Name:</label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Snow">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-at"></i></span>
                </div>
                <input asp-for="Email" type="email" class="form-control" placeholder="username@domain.com">
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Password:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock-alt"></i></span>
                    </div>
                    <input asp-for="Password" type="password" class="form-control" id="" placeholder="*********">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Confirm Password:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                    </div>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="*********">
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Phone Number:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile-phone"></i></span>
                    </div>
                    <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="+48 603 122 808">
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Job Title:</label>
                <input asp-for="JobTitle" type="text" class="form-control" placeholder="Developer">
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label>User Type:</label>
                <select name="UserType" class="form-control">
                    <option value="AppUser">AppUser</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>LinkedIn profile Url:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-linkedin"></i></span>
                </div>
                <input asp-for="ProfileUrl" type="text" class="form-control" placeholder="https://www.linkedin.com/in/aleksandra-nitka/">
            </div>
            <span asp-validation-for="ProfileUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Avatar Url:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-picture-o"></i></span>
                </div>
                <input asp-for="AvatarUrl" type="text" class="form-control" placeholder="https://youravatar/photo.jpg">
            </div>
            <span asp-validation-for="AvatarUrl" class="text-danger"></span>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary mt-2"><i class="fa fa-user-plus"></i>  Create User</button>
        </div>
    </form>
</div>