﻿@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <canvas id="doughnut-chart" width="400" height="450"></canvas>
        </div>
        <div class="col-4">
            <canvas id="bar-chart" width="400" height="450"></canvas>
        </div>
        <div class="col-2"></div>
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/lib/Chart.js/Chart.js"></script>
        <script src="~/js/userHomeCharts.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/charts.min.js" asp-append-version="true"></script>
    </environment>
}