﻿@model List<AskMePortal.Models.Results.ResultsQuestionsVM>

<div class="accordion" id="accordionResults">

    @for (var i = 0; i < Model.Count; i++)
    {
        var resultVM = Model[i];
        <div class="card">
            <div class="card-header" id="heading@(i)">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)">
                        @(i + 1). @resultVM.QuestionValue   <text>(@resultVM.QuestionType)</text>
                    </button>
                </h2>
            </div>

            <div id="collapse@(i)" class="collapse" aria-labelledby="heading@(i)" data-parent="#accordionResults">
                <div class="card-body">


                    <div class="row">
                        <div class="col">
                            Answer
                        </div>
                        <div class="col">
                            User email
                        </div>
                        <div class="col-6">

                        </div>
                    </div>

                    @{
                        foreach (var answer in resultVM.ResultAnswers)
                        {
                            <div class="row">
                                <div class="col">
                                    @answer.AnswerValue
                                </div>
                                <div class="col">
                                    @answer.UserEmail
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>