﻿@model AskMePortal.Models.Results.ResultsVM
@{
    ViewData["Title"] = "Results";
}

<div class="page-wrapper-title">
    Show results for specyfic survey
    <hr />
</div>
<div class="page-card-wrapper">
    <form>
        @Html.DropDownList("SurveyId", Model.AllSurveys,
                              "Select Survey",
                              new { @class = "form-control" })

        <button class="btn btn-primary">Show results!</button>
    </form>

</div>
@{
    if (Model.ResultsQuestions != null && Model.ResultsQuestions.Any())
    {
        <partial name="_Results" model="Model.ResultsQuestions" />
    }
}