﻿@model List<AskMePortal.Models.SurveysList.SurveysListVM>

@{
    ViewData["Title"] = "Surveys List";
}
<div class="page-wrapper-title">
    List of all surveys created
    <hr />
</div>
<div class="page-card-wrapper">
    <form sp-controller="SurveysList" asp-action="CloseSurvey">
        <div id="surveysListResults" class="accordion">
            @{
                for (int i = 0; i < Model.Count; i++)
                {
                    var survey = Model[i];
                    <div class="card">
                        <div class="card-header" id="heading@(i)">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)">
                                    <p>@survey.Name</p>
                                </button>
                            </h2>
                            <p>Survey  was created by: @survey.CreatedBy  on @survey.CreatedDate.ToString("f")</p>
                            @{ if (survey.IsActive)
                                {
                                    <div>
                                        <button type="submit" name="surveyId" class="btn btn-info" value="@survey.Id">
                                            Close Survey
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <text>Survey is closed</text>

                                }
                            }
                        </div>

                        <div id="collapse@(i)" class="collapse" aria-labelledby="heading@(i)" data-parent="#surveysListResults">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        Question
                                    </div>
                                    <div class="col-2">
                                        Question Type
                                    </div>
                                    <div class="col-2">
                                    </div>
                                </div>

                                @{
                                    foreach (var question in survey.Questions)
                                    {
                                        <div class="row">
                                            <div class="col-8">
                                                @question.Value
                                            </div>
                                            <div class="col-2">
                                                @question.QuestionInputType
                                            </div>
                                            <div class="col-2">
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </form>
</div>