﻿@model List<AskMePortal.Models.ActiveSurveys.ActiveSurveysVM>

@{
    ViewData["Title"] = "Active Surveys";
}

<div class="page-wrapper-title">
   All active surveys
    <hr />
</div>
<div class="page-card-wrapper">
    @{

        if (Model?.Count > 0)
        {
            foreach (var survey in Model)
            {
                <h3>@survey.Name</h3> <text>Created: @survey.Created.ToString("f")</text>
                if (!survey.IsCompleted)
                {
                    <a asp-controller="ActiveSurveys" asp-action="GetSurvey" asp-route-surveyId="@survey.Id" class="btn btn-info">Start</a>
                }
            }
        }
        else
        {
            <p>No active surveys!</p>
        }
    }
</div>