﻿@using AskMePortal.Helpers;
@model AskMePortal.Models.SurveyVM

@{
    ViewData["Title"] = "Active Surveys";
}
<div class="page-wrapper-title">
    You can fill in your survey here
    <hr />
</div>

<div class="page-card-wrapper">
    <form asp-action="SubmitSurvey" id="submitSurvey">
        <div class="time-info">Created: @Model.Created.ToString("f")</div>
        <div class="survey-title-box mb-5">
            @Model.Name
        </div>
        @{
            for (int i = 0; i < Model.Questions.Count(); i++)
            {
                var questionNo = i + 1;
                var questionType = Model.Questions[i].QuestionInputType;
                <div class="form-group">
                    <label>@questionNo. @Model.Questions[i].Value</label>

                    @if (questionType == QuestionType.checkbox)
                    {
                        <div class="checkbox-wrapper">
                            <input name="surveyVM.Questions[@i].QuestionAnswer" value="true"
                                   type="@questionType.ToString()" />
                        </div>
                        <input type="hidden" value="false" name="surveyVM.Questions[@i].QuestionAnswer" />

                    }
                    else
                    {
                        <input name="surveyVM.Questions[@i].QuestionAnswer" value="@Model.Questions[i].QuestionAnswer"
                               type="@questionType.ToString()" required class="form-control" />
                    }

                    <input type="hidden" name="surveyVM.Questions[@i].QuestionId" value="@Model.Questions[i].QuestionId" />
                    <input type="hidden" name="surveyVM.Questions[@i].QuestionInputType" value="@questionType" />
                </div>
            }
        }

        <input type="hidden" name="surveyVM.SurveyId" value="@Model.SurveyId" />
        <div class="form-group text-right">
            <button class="btn btn-primary waves-effect">
                Send <i class="fa fa-paper-plane ml-1"></i>
            </button>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $("#submitSurvey").validate();
    </script>
}
